/*
 * Filename:  style.css
 * Author:    Baisu
 * time:      2022/12/28
 * 
 * */

@charset "utf-8";
* {
	padding: 0;
	margin: 0;
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif;
	box-sizing: border-box;
}

html {}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

body {
	background-color: #edeff3;
}

img {
	border: none;
}

li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

a {
	color: inherit;
	text-decoration: none;
}

.cl {
	clear: both;
}

.layui-*,
.layui-layer,
.layui-layer * {
	box-sizing: content-box !important;
}

::-webkit-scrollbar {
	width: 4px;
	background-color: transparent;
}

::-webkit-scrollbar-button {
	height: 0px;
	width: 0px;
}

::-webkit-scrollbar-thumb {
	background-color: #1E9FFF;
	border-radius: 50px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

.list.kongs,
.list.kongs:hover {
	height: 0 !important;
	background-color: transparent !important;
	box-shadow: none !important;
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
}


/**/


/*登录页*/

.login-main-w {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.login-main {
	width: 350px;
	margin: auto;
	padding: 35px 30px 45px;
	border-radius: 5px;
	overflow: hidden;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 8px #CCCCCC;
	position: relative;
}

.login-main .logo {
	font-weight: bold;
	text-align: center;
	font-size: 26px;
	letter-spacing: 2px;
	color: #393D49;
	margin-bottom: 35px;
}

.login-main .input-list .list {
	margin-bottom: 25px;
	border-radius: 5px;
	position: relative;
}

.login-main .input-list .list input {
	display: block;
	width: 100%;
	height: 44px;
	padding: 0 12px 0 40px;
	border: none;
	background-color: #edeff3;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #edeff3;
	transition: 0.3s all;
}

.login-main .input-list .list i {
	display: block;
	width: 40px;
	line-height: 44px;
	text-align: center;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	color: #1E9FFF;
	font-size: 18px;
}

.login-main .input-list .list input::placeholder {
	font-size: 14px;
	color: #3b3c3c;
	font-weight: normal;
}

.login-main .input-list .list input:focus {
	border: 1px solid #1E9FFF;
	box-shadow: 0px 0px 5px #1E9FFF;
	transition: 0.3s all;
}

.login-main .input-list .list input.layui-form-danger:focus {
	border: 1px solid #ff5722;
	box-shadow: 0px 0px 5px #ff5722;
}

.login-main .input-list .list button {
	display: block;
	width: 100%;
	height: 44px;
	border: none;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: bold;
	background-color: #1E9FFF;
	cursor: pointer;
	transition: 0.3s all;
}

.login-main .input-list .list button:hover {
	box-shadow: 0px 0px 5px #1E9FFF;
	transition: 0.3s all;
}

.login-main .agreement {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #f6f7f9;
	font-size: 12px;
	text-align: center;
	color: #a9aaab;
	line-height: 35px;
}

.login-main .agreement a {
	color: #a9aaab;
	text-decoration: underline;
}


/*首页*/

.navlist-main {
	width: 240px;
	height: 100vh;
	background-color: #FFFFFF;
	padding: 20px 0px 10px 0px;
	box-shadow: 1px 0px 5px 0 #eeeeee;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
}

.navlist-main .logo {
	width: 100%;
	line-height: 50px;
	margin-bottom: 30px;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
}

.navlist-main .type-list {
	width: 100%;
	height: calc(100% - 160px);
	overflow: auto;
}

.navlist-main .type-list .list {
	width: 90%;
	margin: 0 auto 10px;
	overflow: hidden;
	border-radius: 6px;
	/*position: relative;*/
	background-color: #f2f2f2;
}

.navlist-main .type-list .list-w2 {
	width: 90%;
	margin: 10px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.navlist-main .type-list .list-w2 .list {
	width: 48%;
	margin: 0;
	cursor: pointer;
	background-color: #393D49;
}

.navlist-main .type-list .list-w2 .list a {
	padding-right: 0;
	color: #FFFFFF;
}

.navlist-main .type-list .list a {
	width: 100%;
	padding-right: 35px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	line-height: 44px;
	padding-left: 15px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 3px;
	transition: 0.3s all;
	position: relative;
}

.navlist-main .type-list .list p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.navlist-main .type-list .list a i {
	display: block;
	margin-right: 6px;
	font-size: 16px;
}

.navlist-main .type-list .list .icon {
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
}

.navlist-main .type-list .list span.property,
.navlist-main .type-list .list i.sub {
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0;
	color: #FFFFFF;
	font-size: 12px;
	border-radius: 2px;
	background-color: #2f4056;
	margin-right: 0;
	margin-left: 2px;
	transition: 0.3s all;
}

.navlist-main .type-list .list.hover i.sub {
	transform: rotate(90deg);
	transition: 0.3s all;
}

.navlist-main .type-list .list:hover>a,
.navlist-main .type-list .list.hover>a {
	background-color: #1E9FFF;
	color: #FFFFFF;
	transition: 0.3s all;
}

.navlist-main .type-list .list-sub {
	display: none;
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #F2F2F2;
}

.navlist-main .type-list .list-sub a {
	line-height: 35px;
	padding-left: 40px;
	font-size: 13px;
	letter-spacing: 3px;
	transition: 0.3s all;
	position: relative;
}

.navlist-main .type-list .list-sub a:hover {
	background-color: #1E9FFF;
	color: #FFFFFF;
	transition: 0.3s all;
}

.navlist-main .user-info {
	width: 100%;
	background-color: #ffffff;
	padding: 25px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
}

.navlist-main .user-info .pic {
	display: block;
	width: 45px;
	height: 45px;
	border-radius: 100%;
	overflow: hidden;
}

.navlist-main .user-info .pic img {
	display: block;
	width: 100%;
	height: 100%;
}

.navlist-main .user-info .text {
	padding-left: 10px;
}

.navlist-main .user-info .text p.t1 {
	font-weight: bold;
	color: #555555;
	margin-bottom: 5px;
}

.navlist-main .user-info .text p.t2 {
	color: #c2c2c2;
}


/*主体*/

.index-main {
	width: 100%;
	padding-left: 260px;
	padding-top: 20px;
	padding-right: 20px;
}

.header-main {
	width: 100%;
	margin: 0 auto 25px;
	display: flex;
	justify-content: space-between;
}

.header-main .seaech-main-w {
	width: calc(100% - 240px);
	/*width: 50%;*/
	height: 180px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #393D49;
	border-radius: 5px;
	background-image: url(../images/bj.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.header-main .seaech-main {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-main .seaech-main .input {
	width: 50%;
	position: relative;
}

.header-main .seaech-main .input input {
	display: block;
	width: 100%;
	height: 46px;
	border-radius: 5px;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	padding: 0 40px 0px 15px;
	transition: 0.3s all;
}

.header-main .seaech-main .input input:focus {
	border: 1px solid #1E9FFF;
	transition: 0.3s all;
}

.header-main .seaech-main .input i {
	display: block;
	width: 40px;
	text-align: center;
	line-height: 46px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	color: #1E9FFF;
	font-size: 20px;
}

.header-main .seaech-main .btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 8px;
}

.header-main .seaech-main .btn-s {
	width: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 46px;
	background-color: #FFFFFF;
	border-radius: 5px;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 2px;
	cursor: pointer;
	transition: 0.3s all;
}

.header-main .seaech-main .btn-s img {
	display: block;
	width: 20px;
	margin-right: 6px;
}

.header-main .seaech-main .btn-s:hover {
	box-shadow: 0px 0px 6px #FFFFFF;
	transition: 0.3s all;
}

.header-main .times-main {
	width: 220px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #1E9FFF;
	border-radius: 5px;
	color: #FFFFFF;
}

.header-main .times-main .time {
	width: 100%;
	display: block;
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
	letter-spacing: 2px;
	margin-bottom: 15px;
	line-height: 1;
}

.header-main .times-main .date {
	width: 100%;
	display: block;
	font-size: 16px;
	text-align: center;
	margin-bottom: 12px;
	font-weight: bold;
}

.header-main .times-main .calendar {
	font-size: 15px;
	width: 100%;
	display: block;
	text-align: center;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-main .times-main .calendar span {
	display: block;
	margin: 0 8px;
}

.header-main .userinfo-main {
	width: 220px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #1E9FFF;
	border-radius: 5px;
	color: #FFFFFF;
}

.header-main .userinfo-main .avatar {
	width: 80px;
	margin: 0 auto;
	border-radius: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}

.header-main .userinfo-main .avatar img {
	display: block;
	width: 100%;
}

.header-main .userinfo-main .nickname {
	width: 100%;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 16px;
	margin-bottom: 10px;
}

.header-main .userinfo-main .menu-list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-main .userinfo-main .menu-list a.list {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	font-size: 14px;
	margin: 5px 8px;
	transition: 0.3s all;
}

.header-main .userinfo-main .menu-list a.list i {
	display: block;
	margin-right: 5px;
}

.header-main .userinfo-main .menu-list a.list:hover {
	text-decoration: underline;
	transition: 0.3s all;
}


/*书签主体*/

.site-main {
	width: 100%;
}

.site-main-li {
	margin-bottom: 15px;
	border-radius: 5px;
	overflow: hidden;
	background-color: #FFFFFF;
	padding: 15px 20px 10px;
}

.site-main-li .site-tit {
	color: #555555;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 15px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	/*border-left: 6px solid #1E9FFF;*/
	/*padding-left: 10px;*/
}

.site-main-li .site-tit.hidden {
	display: none;
}

.site-main-li .site-tit span {
	display: block;
	margin-top: 3px;
	margin-left: 6px;
}

.site-main-li .site-tit i {
	display: block;
	margin-right: 6px;
	margin-top: 3px;
}

.site-main-li .site-tit .property {
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0;
	color: #FFFFFF;
	font-size: 12px;
	border-radius: 2px;
	background-color: #2f4056;
	margin-right: 0;
	margin-left: 10px;
	transition: 0.3s all;
}

.site-main-li .site-tit .desc {
	width: 100%;
	margin-top: 10px;
	font-size: 13px;
	font-weight: normal;
	color: #666666;
	line-height: 1.7;
	background-color: #f2f2f2;
	padding: 5px 15px;
	border-radius: 4px;
}

.site-main-li .site-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.site-main-li .site-list .list {
	width: 16%;
	box-sizing: border-box;
	border-radius: 4px;
	transition: 0.3s all;
	margin-bottom: 12px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: #f2f2f2;
	padding: 10px;
	cursor: pointer;
	position: relative;
	transition: 0.3s all;
}

.site-main-li .site-list .list.visible {
	display: flex;
}

.site-main-li .site-list .list.hidden {
	display: none;
}

.site-main-li .site-list .list .icon {
	display: block;
	width: 20px;
}

.site-main-li .site-list .list .title {
	display: block;
	width: calc(100% - 28px);
	padding-right: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #000000;
	transition: 0.3s all;
}

.site-main-li .site-list .list .desc {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top: 8px;
	width: 100%;
	font-size: 12px;
	color: #909399;
	transition: 0.3s all;
}

.site-main-li .site-list .list .property {
	position: absolute;
	right: 5px;
	top: 10px;
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0;
	color: #FFFFFF;
	font-size: 12px;
	border-radius: 2px;
	background-color: #2f4056;
	margin-right: 0;
	margin-left: 2px;
	transition: 0.3s all;
}

.site-main-li .site-list .list:hover {
	background-color: #1E9FFF;
	transition: 0.3s all;
}

.site-main-li .site-list .list:hover .title {
	color: #FFFFFF;
	transition: 0.3s all;
}

.site-main-li .site-list .list:hover .desc {
	color: #FFFFFF;
	transition: 0.3s all;
}

footer {
	width: 100%;
	padding-left: 260px;
	font-size: 14px;
	color: #C2C2C2;
	margin: auto;
	text-align: center;
	height: 56px;
	line-height: 23px;
	margin-top: 30px;
}

footer a {
	color: #C2C2C2;
}

footer a:hover {
	color: #64a15e !important;
}


/*组件*/

.addsiteBox {
	border-radius: 6px !important;
	overflow: hidden;
}

.component-main {
	display: block;
	padding-bottom: 15px;
	width: 460px;
	margin: auto;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 6px #ccc;
	overflow: hidden;
}

.component-main .title {
	background-color: #1E9FFF;
	text-align: center;
	line-height: 80px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 20px;
	letter-spacing: 2px;
}

.component-main .list-w {
	width: 100%;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.component-main .list {
	width: 100%;
	margin-bottom: 15px;
	position: relative;
}

.component-main .list span.icon {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 35px;
	text-align: center;
	height: 100%;
	margin: auto;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}

.component-main .list span.icon i {
	color: #1E9FFF;
	display: block;
	font-size: 18px;
	margin-top: 2px;
}

.component-main .list input.text {
	display: block;
	width: 100%;
	height: 44px;
	padding: 0 8px 0 35px;
	border-radius: 6px;
	background-color: #f5f6fa;
	border: none;
	color: #555;
}

.component-main .list.type {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 7px;
}

.component-main .list.type span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 19%;
	text-align: center;
	padding: 7px 0px;
	font-size: 13px;
	border: 1px solid #1E9FFF;
	cursor: pointer;
	border-radius: 6px;
	margin-bottom: 8px;
	transition: 0.3s all;
}

.component-main .list.type span:hover,
.component-main .list.type span.hover {
	background-color: #1E9FFF;
	color: #FFFFFF;
	transition: 0.3s all;
}

.component-main .list-2 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.component-main .list-2 .li {
	width: 48%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 40px;
	background-color: #f5f6fa;
	padding: 0 10px;
	border-radius: 6px;
	overflow: hidden;
}

.component-main .list-2 .li span {
	display: block;
	width: 40%;
}

.component-main .list-2 .li input.num {
	display: block;
	width: 60%;
	height: 40px;
	padding: 0 5px;
	background-color: #f5f6fa;
	border: none;
}

.component-main .list-2 .layui-form-switch {
	box-sizing: content-box;
	margin-top: 0;
}

.component-main .list-2 .layui-form-switch * {
	box-sizing: content-box;
}

.component-main .list-2 .layui-form-switch em {
	top: -1px;
}

.component-main .list textarea {
	display: block;
	width: 100%;
	height: 80px;
	padding: 10px;
	border-radius: 6px;
	background-color: #f5f6fa;
	border: none;
	color: #555;
	line-height: 1.4;
}

.component-main .list button {
	width: 100%;
	display: block;
	height: 44px;
	background-color: #1E9FFF;
	border: 1px solid #1E9FFF;
	border-radius: 6px;
	color: #FFFFFF;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s all;
}

.component-main .list button:hover {
	transition: 0.3s all;
	box-shadow: 0px 0px 6px #333333;
}

.component-main .list-type {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 8px;
}

.component-main .list-type span {
	display: block;
	text-align: center;
	width: 19%;
	padding: 0 3px;
	border: 1px solid #1E9FFF;
	border-radius: 3px;
	font-size: 12px;
	line-height: 30px;
	cursor: pointer;
	margin-bottom: 8px;
	margin-right: 1.25%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.component-main .list-type span:nth-child(5n+5) {
	margin-right: 0;
}

.component-main .list-type span:hover,
.component-main .list-type span.hover {
	background-color: #1E9FFF;
	color: #FFFFFF;
}

.component-main .list-btn02 {
	display: flex;
	justify-content: space-between;
}

.component-main .list-btn02 .btn01 {
	width: 35%;
	background-color: transparent;
	border: 1px solid #1E9FFF;
	border-radius: 6px;
	color: #1E9FFF;
}

.component-main .list-btn02 .btn02 {
	width: 63%;
}

.component-main .list.list-icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.component-main .list.list-icons .select_icons {
	width: 80px;
	height: 30px;
	line-height: 30px;
	border-radius: 6px;
	text-align: center;
	color: #FFFFFF;
	background-color: #FF5722;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.ul-icon-list {
	height: 500px;
	padding: 10px;
	overflow-y: auto;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
}

.ul-icon-list li {
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: #eee;
	margin: 3px;
	border-radius: 4px;
	cursor: pointer;
}

.ul-icon-list li i {
	display: block;
	line-height: 45px;
	font-size: 20px;
}

.ul-icon-list li .name {
	display: none;
}

.ul-icon-list li:hover {
	background-color: #1E9FFF;
	color: #FFFFFF;
}


/*手机端*/

@media only screen and (max-width: 1200px) {
	.index-main {
		padding: 10px;
	}
	.header-main .times-main {
		display: none;
	}
	.header-main #he-plugin-standard {
		display: none;
	}
	.header-main .seaech-main-w {
		width: 100%;
		height: 115px;
	}
	.header-main .seaech-main .btn-s {
		width: 100px;
	}
	.header-main .seaech-main .input {
		width: calc(100% - 125px);
	}
	.site-main-li .site-list .list {
		width: 49%;
	}
	footer {
		padding: 10px;
	}
	.wap-header {
		width: 100%;
		height: 70px;
		padding: 0 10px;
		background-color: #FFFFFF;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.wap-header .logo {
		font-weight: bold;
		text-align: center;
		font-size: 26px;
		letter-spacing: 2px;
		color: #393D49;
	}
	.wap-header .wap-menu{
		background-color: #1E9FFF;
		border-radius: 4px;
		height: 35px;
		width: 35px;
		text-align: center;
		line-height: 35px;
	}
	.wap-header .wap-menu i{
		display: block;
		font-size: 20px;
		color: #FFFFFF;
	}
	.navlist-main {
		display: none;
	}
}