<div class="component-main" id="component_type_add" style="display: none;">
	<div class="title">
		添加分类
	</div>
	<form class="layui-form list-w" lay-filter="type_add">
		<div class="list">
			<span class="icon"><i class="layui-icon layui-icon-edit"></i></span>
			<input type="text" class="text" name="name" id="name" lay-verify="required" placeholder="请输入分类名称" autocomplete="off">
		</div>
		<div class="list list-icons">
			<span class="icon font_icon_show"><i class="fa fa-book"></i></span>
			<input type="text" class="text" name="font_icon" id="font_icon" required="" lay-verify="required" placeholder="请输入分类图标" autocomplete="off" value="fa fa-book">
			<div class="select_icons">选择图标</div>
		</div>
		<div class="list-type" id="categoryList">
			<input type="hidden" name="fid" id="fid" value="0" />
					<span class="hover" data-fid = "0">一级分类</span>
        <?php foreach ($categorys as $key => $category) { ?>
					<span data-fid="<?php echo $category['id']; ?>"><?php echo $category['name']; ?></span>
        <?php } ?>
					
				</div>
		<div class="list list-2">
			<div class="li">
				<span>权重：</span>
				<input type="text" class="num" name="weight" min="0" max="999" value="0" required="" lay-verify="required|number" autocomplete="off">
			</div>
			<div class="li">
				私有：
				<input type="checkbox" name="property" id="property" value = "1" lay-skin="switch" lay-text="是|否">
			</div>
		</div>

		<div class="list">
			<textarea name="description" id="description" placeholder="请输入分类描述（选填）"></textarea>
		</div>
		<div class="list">
			<button lay-submit="" lay-filter="type_add">添加</button>
		</div>

	</form>
</div>